node_modules/
myenv/
accounts/__pycache__/
accounts/pycache/*
education/pycache/*
payment/pycache/*
surveys/pycache/*
CyberSec4OT/pycache/*
education/__pycache__/
payment/__pycache__/
surveys/__pycache__/
surveys/migrations/
surveys/admins/__pycache__/
surveys/admins/v2/__pycache__/
surveys/templatetags/__pycache__/
db.sqlite3
**/__pycache__/
**/*.pyc
*/__pycache__/
***/*.pyc
*.pyc
/education/__pycache__
/education/__pycache__
*.pyc
/pycache/*
*.py[cod]
*/*.py[cod]