{% extends 'base_unauth.html' %}
{% load static %}

{% block title %}Home{% endblock %}

<!-- Add this before block content -->
{% block precontent %}
<!-- Hero/Jumbotron Section -->
<section class="relative bg-center bg-no-repeat bg-cover -mx-4 mt-[-1.5rem]" style="background-image: url('{% static "images/nodes4.jpg" %}')">
    <div class="absolute inset-0 bg-black opacity-70"></div>
    <div class="relative z-10 px-4 mx-auto text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Secure Your OT Infrastructure</h1>
        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Master cybersecurity best practices for Operational Technology systems. Join our comprehensive training platform designed for industry professionals and students.</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="{% url 'accounts:register' %}" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Get started
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            <a href="{% url 'request_demo' %}" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                Learn more
            </a>  
        </div>
    </div>
</section>

<!-- Rest of the content should stay within bounds -->
<div class="px-4">
    <!-- Additional Information Section -->
    <div class="relative z-10 max-w-3xl mx-auto p-6 mt-6 bg-white dark:bg-gray-900 rounded-lg shadow-lg">
        <p class="text-gray-700 dark:text-gray-300">
            <span class="font-bold text-gray-900 dark:text-white">Start the journey according to your needs.</span> Improve your cyber-skills and gain awareness against cyber-threats.
        </p>
    </div>

    <!-- Jumbotron Section -->
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
                <a href="#" class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-400 mb-2">
                    <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                        <path d="M11 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm8.585 1.189a.994.994 0 0 0-.9-.138l-2.965.983a1 1 0 0 0-.685.949v8a1 1 0 0 0 .675.946l2.965 1.02a1.013 1.013 0 0 0 1.032-.242A1 1 0 0 0 20 12V2a1 1 0 0 0-.415-.811Z"/>
                    </svg>
                    Tutorial
                </a>
                <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-2">How to quickly deploy a static website</h1>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers.</p>
                <a href="#" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Read more
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
            <div class="grid md:grid-cols-2 gap-8">
                <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                    <a href="#" class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 mb-2">
                        <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                            <path d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"/>
                        </svg>
                        Design
                    </a>
                    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Start with Flowbite Design System</h2>
                    <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers.</p>
                    <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Read more
                        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                    </a>
                </div>
                <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                    <a href="#" class="bg-purple-100 text-purple-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-purple-400 mb-2">
                        <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
                        </svg>
                        Code
                    </a>
                    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Best React libraries around the web</h2>
                    <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers.</p>
                    <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Read more
                        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Side-by-side Testimonials Section -->
    <section class="bg-white dark:bg-gray-900 py-16">
        <div class="max-w-screen-xl mx-auto px-4">
            <div class="grid md:grid-cols-2 gap-12">
                <!-- First testimonial -->
                <div class="bg-gray-50 dark:bg-gray-800 p-8 rounded-lg">
                    <svg class="h-12 mb-4 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
                    </svg> 
                    <blockquote>
                        <p class="text-xl font-medium text-gray-900 dark:text-white mb-4">"CyberSec4OT is just awesome. It contains tons of educational resources and courses starting from awareness to advanced training. Perfect choice for your next cybersecurity journey."</p>
                    </blockquote>
                    <figcaption class="flex items-center mt-6">
                        <img class="w-10 h-10 rounded-full mr-4" src="{% static 'images/pp.jpg' %}" alt="profile picture">
                        <div>
                            <div class="font-medium text-gray-900 dark:text-white">Micheal Gough</div>
                            <div class="text-sm text-gray-500 dark:text-gray-400">CEO at Google</div>
                        </div>
                    </figcaption>
                </div>

                <!-- Second testimonial -->
                <div class="bg-gray-50 dark:bg-gray-800 p-8 rounded-lg">
                    <svg class="h-12 mb-4 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
                    </svg> 
                    <blockquote>
                        <p class="text-xl font-medium text-gray-900 dark:text-white mb-4">"Hi, I'm Vince! Let's chat about your amazing ideas and projects."</p>
                        <p class="text-lg text-gray-600 dark:text-gray-400 mb-4">"I enjoy translating your thoughts to our diversely skilled team for the best results"</p>
                    </blockquote>
                    <figcaption class="flex items-center mt-6 mb-6">
                        <img class="w-10 h-10 rounded-full mr-4" src="{% static 'images/pp.jpg' %}" alt="profile picture">
                        <div>
                            <div class="font-medium text-gray-900 dark:text-white">Vince</div>
                            <div class="text-sm text-gray-500 dark:text-gray-400">Project Manager</div>
                        </div>
                    </figcaption>
                    <div class="mt-4">
                        <a href="mailto:cyberotsec@gmail.com" class="inline-flex items-center px-6 py-3 text-base font-medium text-gray-900 border-2 border-gray-900 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 dark:border-gray-400 dark:text-gray-400 dark:hover:bg-gray-800">
                            <svg class="w-5 h-5 mr-2" fill="none" viewBox="0 0 20 17" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd" d="M3.57124 2.54607C3.70936 2.5159 3.85283 2.5 4 2.5H16C16.1472 2.5 16.2906 2.5159 16.4288 2.54607L14.3415 4.37242L10 8.17123L3.57124 2.54607ZM2.08938 3.90698C2.03129 4.09436 2 4.29352 2 4.5V12.5C2 12.6512 2.01678 12.7985 2.04859 12.9401L5.25259 9.33564L6.74741 10.6644L3.41517 14.4131C3.60016 14.4696 3.79653 14.5 4 14.5H16C16.2035 14.5 16.3998 14.4696 16.5848 14.4131L13.2526 10.6644L14.7474 9.33564L17.9514 12.9401C17.9832 12.7985 18 12.6512 18 12.5V4.5C18 4.29352 17.9687 4.09436 17.9106 3.90698L15.6585 5.87758L10.6585 10.2526L10 10.8288L9.3415 10.2526L2.08938 3.90698ZM4 0.5C1.79086 0.5 0 2.29086 0 4.5V12.5C0 14.7091 1.79086 16.5 4 16.5H16C18.2091 16.5 20 14.7091 20 12.5V4.5C20 2.29086 18.2091 0.5 16 0.5H4Z" fill="currentColor" fill-rule="evenodd"/>
                            </svg>
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="relative z-10 bg-gray-200 dark:bg-gray-800 text-center py-4 mt-8">
    &copy; 2024 CyberSec4OT. All rights reserved.
</footer>
{% endblock %}